@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --active-input-border: linear-gradient(
    to right,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  --input-errors: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  background-color: var(--very-dark-violet);
  width: 100%;
  font-size: 18px;
  padding-block: 15px;
  margin-top: 40px;
  color: #fff;
  border-radius: 8px;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.content-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.content-grid > * {
  border: 2px solid orange;
}

.card-previews {
  border: 1px solid green;
  color: #fff;
  position: relative;
  background-color: var(--very-dark-violet);
  padding-inline: 16px;
}

.card-front {
  border: 1px solid red;
  width: min-content;
  position: absolute;
  top: 167px;
}

.card-front__bg {
  max-width: revert;
}
.card-back__bg {
  max-width: revert;
}

.card-front__logo {
  top: 28px;
  left: 2rem;
}

.card-front__name {
  bottom: 26.5px;
  left: 2rem;
}

.card-front__expiry {
  bottom: 25px;
  right: 2rem;
}

.card-front__number {
  font-size: 1.925rem;
  top: 50%;
  left: 2rem;
}

.card-back {
  border: 1px solid red;
  width: min-content;
  position: relative;
  top: 0;
}

.card-back__ccv {
  top: 108px;
  right: 57px;
}



.card-front > *:not(.card-front__bg),
.card-back > *:not(.card-back__bg) {
  position: absolute;
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 40%;
  max-width: 381px;
  font-size: 12px;
}

.input-container {
  display: flex;
}

.alert-message-name.show {
  color: red;
  margin-top: 8px;
  margin-left: 5px;
}

.alert-message-number.show {
  color: red;
  margin-top: 8px;
  margin-left: 5px;
}

#input-ccv {
  width: 100%;
  display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group:nth-child(2),
.form-group:nth-child(3) {
  margin-top: 26px;
}

.form-group:nth-child(3) {
  display: flex;
}

.expiry-container {
  width: 50%;
}

.expiry-container input:first-child {
  margin-right: 5px;
}
.expiry-container input:nth-child(2) {
  margin-right: 10px;
}

.ccv-container {
  width: 50%;
}

.form-group:nth-child(3) .container {
  display: flex;
  justify-content: stretch;
}
.form-group:nth-child(3) .container input {
  width: 50%;
}

#input-card-number,
#input-card-name {
  width: 100%;
}

input {
  padding: 11px 16px;
  border-radius: 8px;
  border: 1px solid var(--light-grayish-violet);
  margin-top: 9px;
}

@media (min-width: 870px) {
  .form-container {
    max-width: 381px;
    transform: translateX(50%);
  }

  .content-grid {
    display: grid;
    grid-template-columns: 33.5% 66.5%;
  }

  .content-grid > * {
    border: 2px solid orange;
  }

  .card-front {
    top: 40%;
    left: 10%;
  }

  .card-back {
    top: 50%;
    left: 30%;
  }
}

@media (min-width: 1060px) {
  .form-container {
    max-width: 381px;
    transform: translateX(30%);
  }

  .card-front {
    top: 20%;
    left: 25%;
  }

  .card-back {
    top: 50%;
    left: 45%;
  }
}

@media (min-width: 1340px) {
  .form-container {
    max-width: 381px;
    transform: translateX(15%);
    font-size: 12px;
  }
}

@media (min-width: 1440px) {
  .form-container {
    max-width: 381px;
    transform: translateX(10%);
    font-size: 12px;
  }
}

@media (min-width: 1600px) {
  .form-container {
    max-width: 381px;
    transform: translateX(5%);
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .card-previews {
    height: 240px;
    margin-bottom: -50px;
  }
  

  .card-front {
    top: 126px;
    left: 16px;
    z-index: 2;
    max-width: 285px;
    display: flex;
    flex-direction: column;
  }
  
  .card-back {
    top: 16%;
    right: 16px;
    max-width: 285px;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .card-front__logo {
  top: 8%;
  left: 8%;
  height: 30px;
  width: 54;
  }
  
  .card-front__name {
    left: 8%;
    font-size: 9px;
    bottom: 10%;
  }
  
  .card-front__expiry {
      font-size: 9px;
      right: 8%;
      bottom: 10%;
  }
  
  .card-front__number {
   font-size: 18px;
   left: 8%;
   top: 50%;
  }

  .card-front > *:not(.card-front__bg),
.card-back > *:not(.card-back__bg) {
  position: absolute;
}

.form-container {
  margin-top: -60px;
  width: 90%;
  max-width: 381px;
  font-size: 12px;
  text-transform: uppercase;
}

input {
  font-size: 18px;
}

.card-back__ccv {
  top: 44%;
  right: 11%;
  font-size: 9px;
}

}


  @media (max-width: 900px) {
    .card-previews {
      height: 240px;
      margin-bottom: -50px;
    }
  
    .card-front {
      top: 126px;
      left: 16px;
      z-index: 2;
      max-width: 360px;
      display: flex;
      flex-direction: column;
    }
  
    .card-back {
      top: 16%;
      right: 16px;
      max-width: 360px;
      position: absolute;
      display: flex;
      flex-direction: column;
    }

}


